<%- include('layout/header') %>

<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
        <% if (message) { %>
            <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                <button class="btn-close" type="button" data-bs-dismiss="alert"
                aria-label="close"></button>
                <strong><%= message.message %></strong>
            </div>
        <% } %>
        <div class="table">
            <table class="table table-striped text-center">
                <thead>
                    <tr class="table-dark">
                        <th>ID</th>
                        <th>image</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <td>1</td>
                    <td><img src="" alt=""></td>
                    <td>John Doe</td>
                    <td>John@gmail.com </td>
                    <td>1234567890</td>
                    <td>
                        <a href="" class="btn btn-primary btn-sm">Edit</a>
                        <a href="" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tbody>
        </div>   
    </div>
  </div>
<%- include('layout/footer') %>